redis-host: redis
redis-port: 6379
redis-db: 0

redmine-url: https://redmine.example.org
redmine-token: 43787d62a102ca4e37b5cf6f8d92129e99d5f425

annotation-prefix: example.org
smtp-address: mail.example.org
mail-from: sensu@example.org
slack-webhook-url: https://hooks.slack.com/services/foo/bar
slack-username: sensu
slack-icon-url: http://s3-us-west-2.amazonaws.com/sensuapp.org/sensu.png
